body {
    padding: 0.5em;
    font-size: 1em;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
}

#container {
    margin: 0.5em auto;
}

#header {
    border: 0;
}

#brand {
    text-align: center;
    font-size: 1.2em;
}

.entry-title {
    font-size: 3em;
    text-align: center;
    color: rgb(51, 51, 51);
    line-height: 1;
}

.entry-title :link {
    color: rgb(51, 51, 51);
}

:link {
    color: rgb(150, 150, 150);
    font-weight: bold;
}
:visited {
    color: rgb(51, 51, 51);
}
:link:hover, :visited:hover {
    color: rgb(51, 51, 51);
}

.postindex article {
    border: 0;
}

.entry-content p {
    line-height: 1.6;
    text-align: justify;
}

.metadata {
    text-align: center;
}

.dateline {
    text-align: right;
}

.postpromonav {
    border: 0;
}

#footer {
    border: 0;
    text-align: center;
}
