{#  -*- coding: utf-8 -*- #}
{% import 'base_helper.tmpl' as base with context %}

{% macro html_footer() %}
    {% if content_footer %}
        <footer id="footer">
          {{ html_navigation_links() }}
            {% if search_form %}
              <div class="searchform" role="search">
                {{ search_form }}
              </div>
            {% endif %}
          <p>{{ content_footer }}</p>
          {{ template_hooks['page_footer']() }}
        </footer>
    {% endif %}
{% endmacro %}

{% macro html_navigation_links() %}
    <nav id="menu">
    <ul>
    {% for url, text in navigation_links[lang] %}
        {% if isinstance(url, tuple) %}
            <li> {{ text }}
            <ul>
            {% for suburl, text in url %}
                {% if rel_link(permalink, suburl) == "#" %}
                    <li class="active"><a href="{{ permalink }}">{{ text }} <span class="sr-only">{{ messages("(active)", lang) }}</span></a></li>
                {% else %}
                    <li><a href="{{ suburl }}">{{ text }}</a></li>
                {% endif %}
            {% endfor %}
            </ul>
        {% else %}
            {% if rel_link(permalink, url) == "#" %}
                <li class="active"><a href="{{ permalink }}">{{ text }} <span class="sr-only">{{ messages("(active)", lang) }}</span></a></li>
            {% else %}
                <li><a href="{{ url }}">{{ text }}</a></li>
            {% endif %}
        {% endif %}
    {% endfor %}
    {{ template_hooks['menu']() }}
    {{ template_hooks['menu_alt']() }}
    </ul>
    </nav>
{% endmacro %}